@import "variables.styl"

html, body
  height 100%
body
  background-color $background  !important
  font-size 14px
.wrapper
  min-height 100%
#app
  padding-bottom 60px
header
  position fixed
  left 0
  top 100px
.content
  padding 24px
  background-color #fff
  margin-bottom 40px
.nav .ivu-menu-item-active a
  color #fff!important
footer
  height 60px
  margin-top -60px !important
  text-align center
  p
    line-height 60px
body[data-path="/login"], body[data-path="/logout"]
  .tool-bar
    display none
  .content
    background-color transparent
.panel
  background-color #fff
  padding 40px
  width 100%
  .panel-head
    border-bottom 1px solid $gray_f0
    padding-bottom 30px
    .panel-title
      font-size 28px
      font-weight bold
      border-left 6px solid $black_2b
      padding-left 10px
  .panel-body
    padding-top 20px
    font-size 24px

ul
  padding 0
  margin 0

.image-wrapper
  display flex
  justify-content center
  width 100%
  overflow hidden
  &.fill-width
    flex-direction column
    > img
      width 100%
  &.fill-height
    flex-direction row
    > img
      height 100%
  &.justify-end
    justify-content flex-end
.fs-0
  font-size 0

//========== 消除浮动 float ==========
.cf:before, .cf:after
  content: ""
  display: table
.cf
  zoom: 1
.cf:after
  clear: both

//========== table ==========
table
  border-spacing 0
  width 100% !important
  .td-number
    text-align right !important
.ivu-table-wrapper
  border-width 0 !important
.ivu-table:before, .ivu-table:after
  background-color transparent !important
.ivu-modal-body .ivu-table td
  height 40px !important
.ivu-table th
  height 50px !important
.ivu-table
  font-size 14px !important

//========== Page ==========
.ivu-page
  text-align right
  margin-top 20px
.modal-page
  .ivu-page-item, .ivu-page-prev, .ivu-page-next
    min-width 24px
    height 24px
    line-height 24px
  .ivu-page-options-elevator, .ivu-page-options-elevator input
    height 24px
    line-height 24px
//========== ivu-input ==========
.ivu-input-wrapper
  input.ivu-input, textarea.ivu-input
    background-color #fff !important
// ==========  mixin 文本单行溢出隐藏 ==========
.text-overflow
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

// ==========  button ==========
button
  min-width 80px

// color
.text-success
  color $success
.text-danger
  color $danger
